<html lang="en">
   <head>
       <meta charset="utf-8">
       <meta name="viewport" content="width=device-width, initial-scale=1">
       <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>
       <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
       <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

   </head>
   <body>
       <section id="playarea" class="bg-gray" style="height:100vh;background-image:radial-gradient(blue, navy)" data-session="<%=session%>">
           <div id="<%=session%>" class="absolute h3 w3 br-100"></div>
       </section>
       <script src="/main.js"></script>
   </body>
</html>
